[user]
    name = erik
    email = erik.aouizerate@mintset.io

[color]
	ui = auto
	status = auto
	diff = auto

[push]
	default = current

[difftool]
	prompt = true

[diff]
	tool = vim

[core]
	editor = subl -n -w
	excludesFile = ~/.gitignore
[pull]
	rebase = true
	default = current

[push]
	default = current
[rerere]
	enabled = true